body {
  background-color: #696969;
}
/* user logo */
.welcome {
  position: absolute;
  width: 61px;
  height: 16px;
  left: 78px;
  top: 10px;
      
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
      
  color: #000000;
  }
  .user-dropdown {
      position: absolute;
      width: 100px;
      height: 17px;
      left: 65px;
      top: 20px;
  }
  
  /* just hovering items */
  .justhover {
    background-color: #fff;
    border: none;
    color: black;
    transition: 0.3s;
  }
  
  .justhover:hover {
    background-color: #ffffff;
    color: rgb(0, 195, 255);
  }
/* Inbox Patch */
/* custom cekbok */
      .cekbok {
        display: block;
        position: relative;
        padding: 15px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    .cekbok input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    
    .cekmak {
        position: absolute;
        border-radius: 10%;
        border: 1px solid rgb(100, 100, 100);
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: rgb(255, 255, 255);
    }
    
    .cekbok:hover input ~ .cekmak {
        background-color: #eee;
    }
    
    .cekbok input:checked ~ .cekmak {
        background-color: rgb(0, 196, 153);
        border-radius: 15%;
        border: 1px solid rgb(255, 255, 255);
    }
    
    .cekmak:after {
        content: "";
        position: absolute;
        display: none;
    }
    
    .cekbok input:checked ~ .cekmak:after {
        display: block;
    }
    
    .cekbok .cekmak:after {
        left: 9px;
        top: 6px;
        width: 5px;
        height: 8px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
/* nama */
.nama-pengemil{
  color: #000000;
  cursor: pointer;
}
button:hover .nama-pengemil{
  color: rgb(0, 110, 255)
}


/* garisan */
.garis {
  position: absolute;
  width: 755px;
  height: 1px;
  left: 0px;
  margin-top: 0px;
  
  background: rgb(175, 175, 175);
  }

/* notif */
.dropnotbtn {
  background-color: rgba(253, 253, 253, 0);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropnotif {
  position: relative;
  display: inline-block;
}

.dropnotif-content {
  display: none;
  position: absolute;
  background-color: black;
  border-radius: 3%;
  border: 2px solid rgb(255, 255, 255);
  float: right;
  top: 45px;
  right: -10px;
  width: 470px;
  height: 350px;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropnotif-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropnotif a:hover {background-color: #ddd;}

.show {display: block;}




  /* sidebar arrow */
  .metismenu .has-arrow {
    position: relative; }
    .metismenu .has-arrow:after {
      position: absolute;
      content: '';
      width: .5em;
      height: .5em;
      border-width: 1px 0 0 1px;
      border-style: solid;
      border-color: initial;
      right: 1em;
      transform: rotate(-45deg) translate(0, -50%);
      transform-origin: top;
      top: 50%;
      transition: all .3s ease-out; }
  
  *[dir="rtl"] .metismenu .has-arrow::after {
    right: auto;
    left: 1em;
    transform: rotate(135deg) translate(0, -50%); }
  
  .metismenu .active > .has-arrow::after,
  .metismenu .has-arrow[aria-expanded="true"]::after {
    transform: rotate(-135deg) translate(0, -50%); }
  
  *[dir="rtl"] .metismenu .active > .has-arrow::after,
  *[dir="rtl"] .metismenu .has-arrow[aria-expanded="true"]::after {
    transform: rotate(225deg) translate(0, -50%); }
  
  .sidebar-nav .metismenu .has-arrow::after {
    color: #b5b5b5; }