body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Content Trial Awesome */
.fa-envelope-open-text { color: mediumseagreen; }

.fa-sunglasses { color: darkslategray; }

.fa-meteor { color: slateblue; }

.fa-stars { color: gold; }

.fa-user-headset { color: deepskyblue; }

/* demo styling - just frosting + presentation - no need to copy this into your project. */
* {
  box-sizing: border-box;
}

 /* making a nice frame/layout for examples */
.demo-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: -1rem;
  padding: 3rem;
  min-height: 100vh;
  color: rgb(52, 58, 64);
}

/* individual demo styling */
.demo {
  margin-right: -1.5rem;
  margin-bottom: -1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
}

/* individual example */
.demo-example {
  font-size: 5rem;
  padding: 1.5rem;
}
/* ##################### - - ##################### */


/* ################# + sideNav + ################# */
.sidenav {
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2196F3;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}

.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/* ################# - sideNav - ################# */

/* ################# + TopNav + ################# */
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* caki-logo */