body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Content Trial Awesome */
.fa-envelope-open-text { color: mediumseagreen; }

.fa-sunglasses { color: darkslategray; }

.fa-meteor { color: slateblue; }

.fa-stars { color: gold; }

.fa-user-headset { color: deepskyblue; }

/* demo styling - just frosting + presentation - no need to copy this into your project. */
* {
  box-sizing: border-box;
}

 /* making a nice frame/layout for examples */
.demo-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: -1rem;
  padding: 3rem;
  min-height: 100vh;
  color: rgb(52, 58, 64);
}

/* individual demo styling */
.demo {
  margin-right: -1.5rem;
  margin-bottom: -1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
}

/* individual example */
.demo-example {
  font-size: 5rem;
  padding: 1.5rem;
}
/* ##################### - - ##################### */


/* ################# + sideNav + ################# */
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
/* ################# - sideNav - ################# */

/* ################# + TopNav + ################# */
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}