/* user logo */
.welcome {
position: absolute;
width: 61px;
height: 16px;
left: 78px;
top: 10px;
    
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
    
color: #000000;
}
.user-dropdown {
    position: absolute;
    width: 100px;
    height: 17px;
    left: 65px;
    top: 20px;
}